body{
    background-image:url('walp.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
p{
    width: 320px;

    font-family: Arial, Helvetica, sans-serif;
    border: 1px  solid black;
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 22px;

    background-color: rgba(135, 216, 205, 0.3);

}
ul{
    font-style: italic;
    font-size: 21px;
    
    display: table;
    margin: 0 auto;
}
h6{
    display: table;
    margin: 0 auto;
}
h1{
    display: table;
    margin: 0 auto;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-top: 70px;
}
button{
    border: solid;
    border-radius: 25px;
    width: 350px;
    padding: 25px;
    font-size: 22px;
    cursor: pointer;

    display: table;
    margin: 0 auto;
}
