.collapsible {
    background-color: rgb(194, 83, 83);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-top: 20%;
}

.active,
.collapsible:hover {
    background-color: rgb(131, 30, 30);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.margin{
    margin: 10px auto 20px;
    display: block;
    height: 480px;
}
