footerc {
  background-color: rgb(53, 74, 80);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  height: 15px;
  font-size: 12px;
  font-style: italic;
}
