@media screen and (max-width: 394px) {
    body {
       font-family: Arial;
       margin: 0;
    }
    * {
       box-sizing: border-box;
    }
    img {
       object-fit: contain;
       vertical-align: middle;
       height: auto;
    }
    /* Position the image container (needed to position the left and right arrows) */
    .container {
       position: relative;
    }
    /* Hide the images by default */
    .mySlides {
       display: none;
    }
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
       cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
       cursor: pointer;
       position: absolute;
       top: 40%;
       width: auto;
       padding: 16px;
       margin-top: -50px;
       color: white;
       font-weight: bold;
       font-size: 20px;
       border-radius: 0 3px 3px 0;
       user-select: none;
       -webkit-user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
       right: 0;
       border-radius: 3px 0 0 3px;
    }
    /* Number text (1/3 etc) */
    .numbertext {
       color: #f2f2f2;
       font-size: 12px;
       padding: 8px 12px;
       position: absolute;
       top: 0;
    }
    /* Container for image text */
    .caption-container {
       text-align: center;
       background-color:teal;
       padding: 2px 16px;
       color: white;
    }
    .row:after {
       content: "";
       display: table;
       clear: both;
    
    }
    /* Six columns side by side */
    .column {
       float: left;
       width: 16.66%;
    
    }
    /* Add a transparency effect for thumnbail images */
    .demo {
       opacity: 0.15;
    }
    .active, .column:hover
    .demo:hover {
       opacity: 1;
    }
    .text {
       color: #f2f2f2;
       font-size: 15px;
       padding: 8px 12px;
       position: absolute;
       bottom: 8px;
       width: 100%;
       text-align: center;
    }
    /* Fading animation */
    .fade {
       -webkit-animation-name: fade;
       -webkit-animation-duration: 3s;
       animation-name: fade;
       animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
       from {opacity: .1} 
       to {opacity: 1}
       }
    
    @keyframes fade {
       from {opacity: .4} 
       to {opacity: 1}
    }
 }
 