@media screen and (max-resolution: 159dpi)
{
   <!--Set styles-->
}

@media screen and (min-resolution: 160dpi and max-resolution: 239dpi)
{
   <!--Set styles-->
}

@media screen and (min-resolution: 240dpi and max-resolution: 319dpi)
{
   <!--Set styles-->
}

@media screen and (min-resolution: 320dpi)
{
   <!--Set styles-->
}
