/*work in progress*/
body{
   background-color: royalblue;
}

@media screen and (max-width: 1920px) {
   body {
       background-color: rosybrown;
       background-size: cover;
   }
   p{
      width: 25%;
      font-size: 22px;
      padding: 25px;
   }
   button{
      width: 30%;
   }
   footerc{
      font-size: 20px;
   }
   .empty{
      height: 150px;
   }
   h6{
      font-size: 22px;
   }
   .collapsible{
      width: 25%;
      margin-top: 8%;
   }
}

@media screen and (max-width: 394px) {
   body {
       background-color: royalblue;

       background-repeat:no-repeat;
       background-attachment: fixed;
       background-size: cover;
   }
   p{
      width:67.3%;
      font-size: 16.8px;
      padding: 25px;
   }
   button{
      width: 75%;
   }
   footerc{
      font-size: 10px;
   }
   h6{
      font-size:12px;
   }
   .brace{
      background-position: center;   
      background-size:contain;      
   }
   .empty{
      height: 100px;
   }
}
