/*work in progress*/
body{
   background-color: royalblue;
}





@media screen and (max-width: 1920px) {
   body {
       background-color: lime;
       background-size: cover;
   }
   p{
      width: 25%;
      font-size: 22px;
      padding: 25px;
   }
   button{
      width: 30%;
   }
   footerc{
      font-size: 20px;
   }
   .empty{
      height: 150px;
   }
   h6{
      font-size: 22px;
   }
   .collapsible{
      width: 25%;
      margin-top: 8%;
   }
}






@media screen and (max-width: 394px) {
   body {
       background-color: rosybrown;
       background-repeat:no-repeat;
       background-attachment: fixed;
       background-size: cover;
   }
   p{
      font-family: Arial, Helvetica, sans-serif;
      border: 1px  solid black;
      border-radius: 30px;

      margin-left: auto;
      margin-right: auto;
      padding: 25px;
      font-size: 18px;
      width:67.3%;
      background-color: rgba(135, 216, 205, 0.56);

   }

   ul{
      font-style: italic;
      font-size: 21px;
      display: table;
      margin: 0 auto;
  }
  h6{
      display: table;
      margin: 0 auto;
      font-size: 12px;
  }
  h1{
      display: table;
      margin: 0 auto;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      padding-top: 70px;
      color: rgb(135, 235, 205);
  }
  button{
      border: solid;
      border-radius: 25px;
      width: 75%;
      padding: 25px;
      font-size: 22px;
      cursor: pointer;
      display: table;
      margin: 0 auto;
      background-color:rgba(135, 216, 205, 0.43);
  }

  footerc {
   background-color: rgb(53, 74, 80);
   color: white;
   text-align: center;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1030;
 
   padding: 1%;
   height: 2%;
   font-size: 10px;
   font-style: italic;
 }
 
 footerm {
   background-color: rgb(53, 74, 80);
   color: white;
   position:static;
   bottom: 0;
   width: 100px;
 
   padding-top: 10px;
   height: 30px;

   font-size: 12px;
 }
 
 table{
   vertical-align: middle;
   width: 35%;

   margin-left: auto;
   margin-right: auto;
}
td{
    border:1px solid black;
    border-radius: 20px;
    width: 50px;
    padding: 20px;
}
h2{
   display: table;
   margin: 0 auto;
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(135, 235, 205);
}
h3{
   display: table;
   margin: 0 auto;
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(135, 235, 205);
}
h5{
   display: table;
   margin: 0 auto;
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(135, 235, 205);
}


.indexbg{
   background-image: url('/img/watch.jpg');
}





}
