.navbar {
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgb(144, 181, 204);
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

